:host {
  display: block;
}
.room-type-container {
  border-radius: min(var(--radius, 8px), 12px);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  background-color: hsl(220, 14%, 96%);
  padding: 1rem;
}
.rp-container-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* flex: 1 1 0%; */
}
@media (min-width: 768px) {
  :host([display='default']) .room-type-container {
    flex-direction: row;
  }
}
