:host {
  display: block;
}
.ct-menu-container {
  border-radius: min(var(--radius, 0.5rem), 0.5rem);
  border: 1px solid var(--gray-300, #d0d5dd);
  padding: 0 0rem;
  display: flex;
  align-items: center;
  width: fit-content;
}
.ct-menu-trigger {
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ct-menu-button {
  padding: 0.25rem 0.5rem;
}
.ct-menu-button:dir(rtl) {
  border-left: 1px solid var(--gray-300, #d0d5dd);
}
.ct-menu-button:dir(ltr) {
  border-right: 1px solid var(--gray-300, #d0d5dd);
}
.booking-details-btn {
  padding: 0.25rem 0.5rem;
  border-radius: min(var(--radius, 0.5rem), 0.5rem);
  border: 1px solid var(--gray-300, #d0d5dd);
}
.group-hover[data-state='hovered'] {
  background: var(--gray-100, #f2f4f7) !important; /* Example hover color */
}
.ir-table-cell[data-state='affiliate'] {
  padding-bottom: 0;
}
.ir-table-cell[data-state='booking-affiliate'] {
  padding-top: 0.5rem;
}
.property-location {
  font-weight: 500;
  font-size: small;
  color: #475467;
}
