.rateplan-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0rem;
  font-size: 0.875rem;
}
.rateplan-short-name {
  font-weight: 500;
  font-size: 1rem;
}
.rateplan-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.rateplan-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #98a2b3;
}
.rateplan-name .rateplan-tooltip {
  display: none;
}
.rateplan-details-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}
.rateplan-header {
  display: flex;
  flex-direction: column;

  /* align-items: center;
  justify-content: space-between; */
}
.rateplan-pricing-mobile {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.rateplan-discounted-amount {
  font-weight: 400;
  text-decoration: line-through;
  color: var(--gray-600, #475467);
}
.rateplan-amount {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.rateplan-description {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.rateplan-description .rateplan-tooltip {
  justify-content: flex-start;
}
.rateplan-custom-text {
  font-size: 0.75rem;
  color: #64748b;
}
.rateplan-details {
  display: flex;
  /* align-items: center; */
  gap: 1rem;
}
.rateplan-details .rateplan-travelers,
.rateplan-details .rateplan-select-rooms {
  flex: 1 1 0%;
}
:host([display='grid']) .rateplan-select-rooms-btn {
  flex: 0;
}
:host([display='default']) .rateplan-select-rooms-btn {
  flex: 1 1 0%;
}
.rateplan-details .rateplan-pricing,
.rateplan-details .rateplan-final-pricing {
  display: none;
}
.rateplan-discount,
.no-availability,
.mls_alert {
  font-weight: 400;
  color: #ef4444;
}
.rateplan-container .no-availability {
  flex: 1 1 0%;
  text-align: end;
  width: 100%;
}
.rateplan-header.not-available {
  width: 100% !important;
}
.rateplan-header.not-available .rateplan-details-wrapper {
  width: 100% !important;
}
.rateplan-amount-per-night {
  font-size: 0.75rem;
  font-weight: 400;
}
.rateplan-final-pricing .rateplan-amount {
  font-size: 1.25rem;
  line-height: 1.2rem;
  padding-bottom: 0.28rem;
}

/* sm	640px	 */
@media (min-width: 640px) {
  :host([display='default']) .rateplan-pricing-mobile,
  :host([display='default']) .rateplan-description .rateplan-tooltip {
    display: none;
  }
  :host([display='default']) .rateplan-name .rateplan-tooltip {
    display: block;
  }
  :host([display='default']) .rateplan-details .rateplan-pricing,
  :host([display='default']) .rateplan-details .rateplan-final-pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
   :host([display='default']) .rateplan-amount-per-night.grid-view{
    display: none;
  }
}
/* md	768px	 */
@media (min-width: 768px) {
 
}
/* lg	1024px */
@media (min-width: 1024px) {
  :host([display='default']) .rateplan-travelers {
    max-width: 300px;
  }

  /* .rateplan-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  } */
  :host([display='default']) .rateplan-header {
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    /* grid-column: span 5 / span 5; */
  }
  :host([display='default']) .rateplan-container {
    flex-direction: row;
  }
  :host([display='default']) .rateplan-details {
    gap: 2rem;
    justify-content: space-between;
    flex: 1 1 0%;
    /* 
    display: grid;
    grid-column: span 7 / span 7; 
    grid-template-columns: repeat(12, 1fr); */
  }
  :host([display='default']) .rateplan-details .rateplan-travelers {
    /* grid-column: span 5 / span 5; */
    max-width: 40%;
  }
  :host([display='default']) .rateplan-details .rateplan-select-rooms {
    flex: 0;
    /* grid-column: span 2 / span 2; */
  }
  :host([display='default']) .rateplan-details .rateplan-pricing,
  :host([display='default']) .rateplan-details .rateplan-final-pricing {
    grid-column: span 2 / span 2;
  }
  :host([display='default']) .rateplan-details .rateplan-final-pricing[data-style='full-width'] {
    grid-column: span 4 / span 4;
  }
  :host([display='default']) .triggerStyle {
    width: fit-content !important;
  }
  :host([display='default']) .selectStyle {
    width: 3.5rem !important;
    padding-inline-end: 1.75rem !important;
  }
}
/* xl	1280px */
@media (min-width: 1280px) {
}
/* 2xl	1536px */
@media (min-width: 1536px) {
}
