/* #region Host ~~~~~~~~~~~~~~~~~~~~~~ */
:host {
  display: flex;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box !important;
  pointer-events: none;
  font-size: 16px !important;
  --spread: 90deg;
  --shimmer-color: white;
  --speed: 3s;
}

:host([position='fixed']) {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 9999999999;
}

:host([data-multi='true']) {
  margin-inline: auto;
}

:host {
  width: fit-content;
}
/* #endregion */

/* #region Containers ~~~~~~~~~~~~~~~~~~~~~~ */
.ir-widget__hover {
  inset: -0.05rem;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  border-radius: inherit;
}

.ir-widget {
  pointer-events: all;
  position: relative;
  display: flex;
  background-color: var(--ir-widget-background-color, rgba(55, 65, 81, 1));
  color: var(--ir-widget-foreground-color, white);
  border-radius: var(--radius, 0.5rem);
  z-index: 2;
  flex-direction: column;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.ir-widget::after {
  position: absolute;
  background-color: var(--ir-widget-background-color, rgba(55, 65, 81, 1));
  border-radius: var(--radius, 0.5rem);
  content: '';
  inset: 0;
}

.ir-widget__popover-panel {
  border-radius: var(--radius);
  height: 21.25rem;
  width: 100%;
  border: 0;
  background-color: #fff;
  padding: 1rem;
  box-shadow: none;
}
/* #endregion */

/* #region Buttons ~~~~~~~~~~~~~~~~~~~~~~ */
.ir-widget__cta {
  opacity: 1;
  outline: 0;
  color: #fff;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: hsla(var(--brand-600, 215, 87%, 51%), 1);
  border-radius: var(--radius, 0.5rem);
  height: 3rem;
  padding: 0 1.875rem;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s;
}

.ir-widget__cta:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--brand-600, 215, 87%, 51%), 1);
  padding: 0 1.875rem;
  z-index: -2;
}

.ir-widget__cta:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: hsla(var(--brand-800, 215, 87%, 51%), 1);
  transition: all 0.3s;
  z-index: -1;
}

.ir-widget__cta::before:dir(ltr) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.ir-widget__cta::before:dir(rtl) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.ir-widget__cta:hover {
  color: #fff;
}

.ir-widget__cta:hover:before {
  width: 100%;
}
/* #endregion */

/* #region Triggers ~~~~~~~~~~~~~~~~~~~~~~ */
.ir-widget__property-select {
  background-color: transparent;
  outline: none;
  border: 0;
  margin-right: 1rem;
  flex: 1 1 0%;
  max-width: auto;
  width: 100%;
}

.ir-widget__date-trigger,
.ir-widget__guests-trigger,
.ir-widget__property-select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.625rem 14px;
  font-size: 14px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding-inline-end: 1rem;
  min-width: 200px;
}

.ir-widget__date-trigger,
.ir-widget__guests-trigger {
  display: none !important;
}

.ir-widget__date-trigger {
  border-top-right-radius: var(--radius, 0.5rem);
  border-top-left-radius: var(--radius, 0.5rem);
}

.ir-widget__date-trigger ir-icons,
.ir-widget__guests-trigger ir-icons {
  position: absolute;
  left: 14px;
}

.ir-widget__guests {
  margin: 0;
}

.ir-widget__text-lower {
  text-transform: lowercase;
}

.ir-widget__icon {
  width: 1rem;
  height: 1rem;
}

.ir-widget__guest-counter {
  height: 100%;
}
.ir-widget__date-popup,
.ir-widget__guests-popup {
  display: none;
}
/* #endregion */

/* #region Responsive ~~~~~~~~~~~~~~~~~~~~~~ */
/* sm */
@media only screen and (min-width: 640px) {
  :host {
    width: fit-content;
    justify-content: center;
    margin-inline: auto;
  }
  .ir-widget__date-popup,
  .ir-widget__guests-popup {
    display: flex;
  }
  .ir-widget__date-trigger,
  .ir-widget__guests-trigger {
    display: flex !important;
  }
  .ir-widget[data-multi='true'] .ir-widget__guests-trigger {
    display: none !important;
  }
  .ir-widget[data-multi='true'] .ir-widget__date-trigger {
    border: 0;
    border-left: 1px solid var(--ir-widget-separator-color, transparent);
  }
  .ir-widget[data-multi='true'] {
    width: fit-content;
  }
  .ir-widget[data-multi='true'] .ir-widget__popover:first-of-type {
    display: flex;
  }
  .ir-widget__hover::before {
    content: '';
    position: absolute;
    inset: 0;
    background: conic-gradient(from calc(270deg - (var(--spread) * 0.5)), transparent 0, var(--shimmer-color) var(--spread), transparent var(--spread));
    border-radius: inherit;
    overflow: hidden;
    display: none;
  }

  .ir-widget:hover .ir-widget__hover::before {
    animation: rotate var(--speed) linear infinite;
    display: block;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .ir-widget {
    flex-direction: row;
    align-items: center;
    width: fit-content;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .ir-widget__guests-trigger {
    min-width: 200px;
  }

  .ir-widget__date-trigger,
  .ir-widget__guests-trigger {
    border-bottom: 0;
  }

  .ir-widget__date-trigger {
    border-right: 1px solid var(--ir-widget-separator-color, transparent);
  }

  .ir-widget__popover {
    width: fit-content;
  }

  .ir-widget__date-trigger {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .ir-widget__date-trigger ir-icons,
  .ir-widget__guests-trigger ir-icons {
    position: initial;
    left: auto;
  }

  .ir-widget__cta:dir(ltr) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .ir-widget__cta:dir(rtl) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .ir-widget__popover-panel {
    width: auto;
    border: 1px solid #e5e7eb;
  }
}

@media (min-width: 1024px) {
  .ir-widget[data-multi='true'] .ir-widget__popover {
    display: flex;
  }
  .ir-widget[data-multi='true'] .ir-widget__guests-trigger {
    border-left: 1px solid var(--ir-widget-separator-color, transparent);
    display: flex !important;
  }
}

@media (min-width: 1200px) {
  .ir-widget__popover-panel {
    height: 24.5rem;
  }
}
/* #endregion */
.ir-widget__date-popup::part(date-trigger),
.ir-widget__guests-popup::part(guests-trigger) {
  all: unset;
  width: 100%;
}
.ir-widget__date-popup,
.ir-widget__guests-popup {
  z-index: 9999;
  border-inline-end: 1px solid var(--ir-widget-separator-color, transparent);
}
.ir-widget__guests-popup {
  border-inline-end: 0px;
}
.ir-multi-property-widget__anchor {
  width: 100%;
}

.ir-multi-property-widget__popup::part(body) {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .ir-multi-property-widget__anchor {
    max-width: 22.5rem;
    margin-inline: auto;
  }
}
.ir-widget__date-popup::part(date-trigger),
.ir-widget__guests-popup::part(guests-trigger) {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.875rem;
  padding: 0 1rem;
  cursor: pointer;
  font-size: 14px;
}
/* #region Multi Mode ~~~~~~~~~~~~~~~~~~~~~~ */
.ir-multi-property-widget__popup::part(body) {
  padding: 0;
  gap: 0;
}

.ir-multi-property-widget__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--gray-200, #eaecf0);
}

.ir-multi-property-widget__header h5 {
  margin: 0;
  font-size: 1.25rem;
  /* font-weight: 600; */
  line-height: 1.4;
}
.ir-widget[data-multi='true'] {
  flex-direction: row;
  align-items: center;
  opacity: 0;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.ir-widget[data-multi='true'] .ir-widget__popover {
  display: none;
}
.ir-widget[data-multi='true'] .ir-widget__popover {
  display: none;
}

.ir-widget[data-multi='true'] .ir-widget__cta:dir(ltr) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.ir-widget[data-multi='true'] .ir-widget__cta:dir(rtl) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.ir-widget[data-multi='true'] .ir-widget__cta,
.ir-widget[data-multi='true'] .ir-widget__cta::after {
  padding-inline: 1rem;
}

/*sm*/
@media (min-width: 640px) {
  .ir-widget[data-multi='true'] {
    width: fit-content;
  }
  .ir-widget[data-multi='true'] .ir-widget__guests-popup {
    display: none;
  }
}
@media (min-width: 768px) {
  .ir-widget[data-multi='true'] .ir-widget__guests-popup {
    display: flex;
  }
}
/* #endregion */
