:host {
  display: block;
}
.avatar {
  background: #f9fafb;
  width: fit-content;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #475467;
  transition: all 0.3s ease-in-out;
}
.avatar:hover {
  background: #f2f4f7;
}
