:host {
  display: block;
  box-sizing: border-box;
}

/* Button Base Styles */
[class^='button'] {
  all: unset;
  border-radius: min(var(--radius, 0.5rem), 30rem);
  color: white;
  font-weight: 500;
  cursor: pointer;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
  width: var(--ir-btn-width, inherit);
  box-sizing: border-box;
}

[class^='button']:disabled {
  user-select: none;
  pointer-events: none;
}

[class^='button']:focus-visible,
[class^='button']:active {
  box-shadow:
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1),
    0 0 0 0.25rem hsla(var(--brand-100, 209, 100%, 91%), 0.2);
}

/* Default Button Styles */
.button-default,
.button-icon-primary {
  background: hsla(var(--brand-600, 215, 87%, 51%), 1);
}

.button-default:hover,
.button-icon-primary:hover {
  background: hsl(var(--brand-800, 218, 80%, 46%));
}

.button-default:disabled,
.button-icon-primary:disabled {
  background: hsl(var(--brand-200, 206, 100%, 85%));
}

/* Secondary Button Styles */
.button-secondary,
.button-secondary:active,
.button-secondary:focus {
  background: hsl(var(--brand-50, 206, 100%, 97%));
  color: hsl(var(--brand-700, 218, 80%, 46%));
}

.button-secondary .loader {
  background-color: hsl(var(--brand-700, 218, 80%, 46%));
}

.button-secondary:hover {
  background: hsl(var(--brand-100, 209, 100%, 91%));
}

.button-secondary:disabled {
  color: hsl(var(--brand-300, 206, 100%, 76%));
}

/* Outline Button Styles */
.button-outline {
  border: 0.0625rem solid var(--gray-300, #d0d5dd);
  background: white;
  color: var(--gray-700, #344054);
}

.button-outline .loader {
  background-color: var(--gray-700, #344054);
}

.button-outline:hover {
  background: var(--gray-100, #f9fafb);
  color: var(--gray-800, #1d2939);
}

.button-outline:disabled {
  background: var(--gray-50, #f9fafb);
  color: var(--gray-300, #d0d5dd);
  border-color: var(--gray-300, #d0d5dd);
}

.button-outline:focus-visible,
.button-outline:active {
  box-shadow:
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1),
    0 0 0 0.25rem var(--gray-100, #f2f4f7);
}

/* Outline Primary Button Styles */
.button-outline-primary {
  border: 0.0625rem solid hsl(var(--brand-600, #d0d5dd));
  color: hsl(var(--brand-700, #344054));
}

.button-outline-primary .loader {
  background-color: hsl(var(--gray-700, #344054));
}

.button-outline-primary:hover {
  background: hsla(var(--brand-100, #f9fafb), 0.05);
  color: hsl(var(--brand-800, #1d2939));
}

.button-outline-primary:disabled {
  background: hsl(var(--brand-200, #eaecf0));
  color: hsl(var(--brand-300, #d0d5dd));
}

.button-outline-primary:focus-visible,
.button-outline-primary:active {
  box-shadow:
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1),
    0 0 0 0.25rem hsl(var(--brand-100, #f2f4f7), 0.1);
}

/* Ghost Button Styles */
.button-ghost,
.button-icon {
  color: var(--gray-600, #475467);
}

.button-ghost:hover,
.button-icon:hover {
  background: var(--gray-100, #fcfcfd);
  color: var(--gray-700, #344054);
}
.button-ghost:active,
.button-icon:active {
  box-shadow: none;
}

.button-ghost:disabled,
.button-icon:disabled {
  color: var(--gray-300, #d0d5dd);
}

/* Ghost Primary Button Styles */
.button-ghost-primary {
  background: white;
  color: hsl(var(--brand-600, 215, 87%, 51%));
}

.button-ghost-primary:hover {
  background: hsla(var(--brand-100, 206, 100%, 97%), 0.2);
  color: hsl(var(--brand-700, 218, 80%, 46%));
}

.button-ghost-primary:disabled {
  background: white;
  color: var(--brand-300, #d0d5dd);
}

/* Link Button Styles */
.button-link {
  background: white;
  color: var(--gray-600, #475467);
}

.button-link:hover {
  text-decoration: underline;
}

.button-link:disabled {
  background: white;
  color: var(--gray-300, #d0d5dd);
}

/* Destructive Button Styles */
.button-destructive {
  background: var(--error-600, #d92d20);
}

.button-destructive:hover {
  background: var(--error-800, #b42318);
}

.button-destructive:disabled {
  background: var(--error-200, #fecdca);
}

.button-destructive:focus-visible,
.button-destructive:active {
  box-shadow:
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1),
    0 0 0 0.25rem var(--error-100, #fee4e2);
}

/* Button Sizes */
[class^='button'][data-size='sm'] {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

[class^='button'][data-size='md'] {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

[class^='button'][data-size='lg'] {
  padding: 0.6875rem 1.35rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button-icon[data-size='sm'],
.button-icon-primary[data-size='sm'] {
  padding: 0.5rem;
}

.button-icon[data-size='md'],
.button-icon-primary[data-size='md'] {
  height: 3rem;
  padding: 0.625rem;
}

.button-icon[data-size='lg'],
.button-icon-primary[data-size='lg'] {
  padding: 0.75rem;
}

.button-icon-primary[data-size='pill'] {
  height: 2.5rem;
  width: 2.5rem;
}

/* Loader Styles */
.loader {
  width: 0.75rem;
  padding: 0.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

button.is-loading slot[name='btn-icon'] {
  display: none;
}
