.counter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: min(var(--radius, 0.5rem), 0.5rem);
  border: 1px solid var(--gray-200, #eaecf0);
  background: white;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  height: 100%;
  width: 250px;
}
.counter-item {
  display: flex;
  align-items: center;
  color: var(--gray-800, #1d2939);
  justify-content: space-between;
  gap: 32px;
}

.counter-item p {
  margin: 0;
}

.counter-buttons-group {
  display: flex;
  align-items: center;
}

.counter-buttons-group p {
  width: 35px;
  text-align: center;
}

.main-text {
  font-size: 1rem !important;
  line-height: 1.25rem !important;
  padding-bottom: 4px !important;
  font-weight: 400;
}
.secondary-text {
  font-size: 12px;
  line-height: 16px;
}
.done-button {
  margin-top: 10px;
  width: 100%;
}
/* .counter-container {
  box-sizing: border-box;
  border-radius: min(var(--radius, 0.5rem), 0.5rem);
  background: white;
  border: 1px solid var(--gray-100, #f2f4f7);
  box-shadow:
    0 16px 12px -4px rgba(16, 24, 40, 0.08),
    0 6px 4px -2px rgba(16, 24, 40, 0.03);
} */
