:host {
  --ir-dialog-max-width: 50rem;
}
.modal-container {
  /* padding: 16px; */
  background: #ffffff;
}
.carousel-container {
  aspect-ratio: 4/3;
}
.coursel_gallery_container {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  position: relative;
}

.more-details-button {
  margin: 0 0.5rem;
}
.gallery-img {
  display: flex;
  border-radius: min(var(--radius, 0.5rem), 1rem);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  object-fit: cover;
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}
.pg_carousel {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
@media (min-width: 768px) {
  .gallery-img {
    min-height: 200px;
  }
  .gallery-img.icon {
    max-height: 200px;
    color: white;
    background-color: rgb(209 213 219);
  }
  .capacity-container {
    border-bottom-right-radius: min(var(--radius, 8px), 1rem);
    border-bottom-left-radius: min(var(--radius, 8px), 1rem);
  }
}
@media (min-width: 1280px) {
  .gallery-img {
    min-height: 250px;
  }
  .gallery-img.icon {
    max-height: 250px;
  }
}
