:host {
  --ir-dialog-max-width: 50rem;
}
.modal-container {
  /* padding: 16px; */
  background: #ffffff;
}
.carousel-container {
  aspect-ratio: 1.5;
  width: 100%;
}
.carousel_gallery_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  aspect-ratio: 1.5;
}

.more-details-button {
  margin: 0 0.5rem;
}
.gallery-img {
  display: flex;
  border-radius: min(var(--radius, 0.5rem), 1rem);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  object-fit: cover;
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.single-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: min(var(--radius, 0.5rem), 1rem);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.pg_carousel {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

@media (min-width: 768px) {
  :host([display='default']) .gallery-img {
    min-height: 200px;
  }
  :host([display='default']) .gallery-img,
  :host([display='default']) .single-image {
    border-bottom-left-radius: min(var(--radius, 0.5rem), 1rem);
    border-bottom-right-radius: min(var(--radius, 0.5rem), 1rem);
  }
  :host([display='default']) .gallery-img.icon {
    max-height: 200px;
    color: white;
    background-color: rgb(209 213 219);
  }
  :host([display='default']) .capacity-container {
    border-bottom-right-radius: min(var(--radius, 8px), 1rem);
    border-bottom-left-radius: min(var(--radius, 8px), 1rem);
  }
  :host([display='default']) .carousel-container {
    aspect-ratio: 16/12;
    width: 18.75rem;
  }
}
@media (min-width: 1280px) {
  :host([display='default']) .carousel-container {
    max-height: 15.625rem;
  }
  :host([display='default']) .gallery-img {
    min-height: 250px;
  }
  :host([display='default']) .gallery-img.icon {
    max-height: 250px;
  }
}
