:host {
  width: 100%;
  pointer-events: all;
  min-width: 300px;
}

:host > ir-popup {
  --radius: 0.875rem;
}

.ir-widget__guests-popup::part(content),
.ir-widget__date-popup::part(content) {
  width: min(22.5rem, 92vw);
}
.ir-multi-property-widget__not-found {
  font-size: 0.875rem;
  text-align: center;
}

:host ir-select {
  width: 100%;
  display: block;
}

.ir-multi-property-widget__select .select-el {
  height: 40px;
}

.anchor-icon::part(icon) {
  height: 1rem;
  width: 1rem;
}

.ir-multi-property-widget__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ir-multi-property-widget__body ir-button[part='cta'] {
  width: 100%;
  margin-top: 0.5rem;
}
