:host {
  display: block;
}
.badge {
  border-radius: calc(var(--radius, 16px) * 2);
  width: fit-content;
}
.badge.default {
  background: hsla(var(--brand-100), 1);
  color: hsl(var(--brand-700));
  font-size: 0.75rem;
}
.badge.error {
  background: hsl(5, 86%, 97%);
  color: hsl(4, 76%, 40%);
}
.badge.pending {
  background: hsl(45, 100%, 96%);
  color: hsl(22, 92%, 37%);
}
.badge.success {
  background: hsl(145, 81%, 96%);
  color: hsl(155, 97%, 24%);
}
.badge.transparent {
  background-color: transparent;
  padding-inline: 0 !important;
}
/* Sizes */
.size-sm {
  padding: 0.125rem 0.5rem;
}
.size-md {
  padding: 0.125rem 0.625rem;
}
.size-lg {
  padding: 0.125rem 0.75rem;
}
