@import url('../../gloabls.css');
:host {
  display: block;
}
.select-label {
  /* transform-origin: left top; */
  top: -0.8rem;
  background: white;
}
.select-label:dir(ltr) {
  left: calc(0.875rem - 0.3rem);
}
.select-label:dir(rtl) {
  right: calc(0.875rem - 0.3rem);
}

.selected-trigger {
  position: relative;
  border-radius: min(var(--radius, 0.5rem), 0.5rem);
  border: 1px solid var(--gray-300, #d0d5dd);
}
:host([variant='default']) .selected-trigger {
  width: 100%;
  display: flex;
  align-items: center;
}
select {
  appearance: none;
  outline: none;
  background: transparent;
}
select:focus,
select:focus-visible {
  border-color: hsl(var(--brand-300, 206, 100%, 76%));
}
.select-icon[data-variant='double-line']:dir(rtl) {
  left: 1rem;
}
.select-icon[data-variant='double-line']:dir(ltr) {
  right: 1rem;
}
.select-icon[data-variant='default']:dir(rtl) {
  left: 6px;
}
.select-icon[data-variant='default']:dir(ltr) {
  right: 6px;
}
select option {
  text-indent: 100px; /* Adjust the value as needed */
}
