:host {
  display: block;
  --ir-dialog-max-width: 32rem;
}
.ir-logo {
  height: 20px;
  width: 10px !important;
}

.ir-button-link {
  padding: 8px 14px;
  font-size: 14px;
  line-height: 14px;
  background: white;
  color: var(--gray-600, #475467);
}
.ir-button-link:hover {
  text-decoration: underline;
}
.ir-button-link:disabled {
  background: white;
  color: var(--gray-300, #d0d5dd);
}

.ir-language-trigger {
  all: unset;
  border-radius: var(--radius, 8px);
  color: white;
  font-weight: 500;
  cursor: pointer;
  gap: 8px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  background: white;
  color: var(--gray-700, #344054);
  display: flex;
  align-items: center;
  padding: 8px 14px;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
}
.ir-language-trigger .loader {
  background-color: var(--gray-700, #344054);
}
.ir-language-trigger:hover {
  background: var(--gray-200, #eaecf0);
  color: var(--gray-700, #344054);
}
.ir-language-trigger:disabled {
  background: var(--gray-200, #eaecf0);
  color: var(--gray-300, #d0d5dd);
}

.ir-nav {
  width: 100%;
  background-color: white;
}

.ir-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 72rem;
  min-height: 3.5rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.ir-nav-container[data-state='injected'] {
  height: auto;
}

.ir-nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ir-nav-logo {
  /* height: 2.5rem;
  width: auto;
  */
  /* width: 40px; */
  /* max-height: 5rem; */
  max-height: 4.2rem;
  padding: 0.5rem;
  object-fit: contain;
}

.ir-nav-property-details[data-show-mobile='false'] {
  display: none;
}

.ir-property-name {
  font-size: 1.125rem;
  font-weight: 500;
}

.ir-property-location {
  display: none;
  align-items: center;
  font-size: 0.875rem;
  color: #475467;
}
.booking-code {
  color: var(--gray-600, #475467);
  padding: 0rem 1rem;
}
.ir-burger-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ir-nav-links {
  display: none;
  align-items: center;
  gap: 0.5rem;
}

.ir-nav-links-injected {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/* .ir-language-trigger {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
} */

/* .ir-language-trigger ir-icons {
  margin-right: 0.5rem;
} */
.ir-nav-injected {
  display: none;
}
.ir-icon-size {
  height: 1rem;
  width: 1rem;
}

.ir-sheet-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
}

.ir-sheet-button {
  width: 100%;
  justify-content: start;
}
@media only screen and (min-width: 640px) {
  .ir-language-trigger {
    margin-top: 0;
    width: var(--ir-btn-width, inherit);
  }
}

@media (min-width: 768px) {
}
@media (min-width: 920px) {
  .ir-nav-links {
    display: inline-flex;
  }

  .ir-burger-menu {
    display: none;
  }
  .ir-nav-property-details[data-show-mobile='false'] {
    display: block;
  }
  .ir-property-location {
    display: flex;
  }
}
@media (min-width: 1190px) {
  .ir-nav-container {
    padding: 0;
  }
}
