:host {
  display: block;
}
:host {
  --arrow-size: 0.375rem;
  --max-width: 25rem;
  --show-duration: 100ms;
  --hide-duration: 100ms;
  box-sizing: border-box;

  /* Internal calculated properties */
  --arrow-diagonal-size: calc((var(--arrow-size) * sin(45deg)));

  display: contents;

  /** Defaults for inherited CSS properties */
  font-size: 1rem;
  line-height: 1.6;
  text-align: start;
  white-space: normal;
}
::slotted([slot='anchor']) {
  pointer-events: all;
}
/* The native dialog element */

.dialog {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  overflow: visible;
  pointer-events: none;
}
.dialog:focus {
  outline: none;
}
.dialog[open] {
  display: block;
}

:host:not([modal]) {
  animation: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

/* Popper-managed content */
.popup-content {
  position: fixed;
  width: max-content;
  pointer-events: all;
  z-index: 1;
}

#arrow {
  background-color: white;
  border-top: none;
  border-left: none;
  border-bottom: solid var(--arrow-diagonal-size) #e4e5e9;
  border-right: solid var(--arrow-diagonal-size) #e4e5e9;
  box-shadow: none;
  max-width: var(--max-width);
}

/* The <wa-popup> element */
.popover {
  --arrow-size: inherit;
  --show-duration: inherit;
  --hide-duration: inherit;

  pointer-events: auto;
}

.popover[placement^='top']::part(popup) {
  transform-origin: bottom;
}

.popover[placement^='bottom']::part(popup) {
  transform-origin: top;
}

.popover[placement^='left']::part(popup) {
  transform-origin: right;
}

.popover[placement^='right']::part(popup) {
  transform-origin: left;
}

/* Body */
.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: min(var(--radius, 0.5rem), 0.5rem);
  border: 1px solid var(--gray-200, #eaecf0);
  background: white;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  box-shadow: 0.5rem 0.5rem 0.5rem -0.25rem rgb(0 0 0 / 0.1);
  user-select: none;
  -webkit-user-select: none;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
